extend layout

block content

    h1 Delete #{category.name}?
    p
        i= category.description

    if categorys_items.length
        p Delete categorys items first:
        ul
            each item in categorys_items
                li 
                    a(href=item.url) #{item.name}

    form(method='POST' action='')
        .form-group
            input#categoryid.form-control(type='hidden',name='categoryid', required='true', value=category._id )
        .form-group
            label(for='password') Password: 
            input#password.form-control(type='password' name='password' required='true')

        button.btn.btn-primary(type='submit') Delete 
        = ' '
        a.btn.btn-primary(href=category.url) Back

    if err 
        p !{err}