extends layout

block content

    h2 !{category.name}
    p 
        i !{category.description}
    
    p Items:
    ul
        each item in category_items
            li
                a(href=item.url) !{item.name}
        else
            li none
    
    hr
    p
        a(href=category.url+'/delete') Delete
    p
        a(href=category.url+'/update') Update