extends layout

block content

    h2= item.name
    p
        i= item.description
    hr
    p Price: $#{item.price}/lb
    p Stock: #{item.stock}
    p Category: 
        a(href=item.category.url) #{item.category.name}

    hr
    p
        a(href=item.url+'/delete') Delete
    p
        a(href=item.url+'update') Update