extends layout

block content
    h1= title
    hr
    
    form(method='POST' action='' enctype='multipart/form-data')
        .form-group
            label(for='name') Name:
            input#name.form-control(type='text' name='name' required='true' value=((item) ? item.name : ''))
        .form-group
            label(for='description') Description:
            input#description.form-control(type='textarea' name='description' value=((item) ? item.description : ''))
        .form-group
            label(for='price') Price:
            input#price.form-control(type='text' name='price' required='true' value=((item) ? item.price : ''))
        .form-group
            label(for='stock') Stock:
            input#stock.form-control(type='text' name='stock' required='true' value=((item) ? item.stock : ''))
        .form-group
            label Category:
            div
                for category in categories
                    div(style='display: inline; padding-right:10px;')
                        input.checkbox-input(type='checkbox', name='category', id=category._id, value=category._id, checked=category.checked )
                        label(for=category._id) #{category.name}
        .form-group
            label(for='image') Image:
            input#image.form-control(type='file' name='image')
        if item
            if item.filename
                img(src=item.imageurl alt='item image')
                .form-group
                    label(for='remove-image') Remove Image? 
                    input.checkbox-input(type='checkbox', name='remove-image', id='remove-image', value='remove-image')

        button.btn.btn-primary(type='submit') Submit
    
    hr
    if errors 
        ul
            each error in errors
                li!= error.msg